@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010208;
    --backgroundShade: #050921;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(45deg, var(--backgroundShade), var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

.orb {
  background: rgb(21, 38, 142);
  background: radial-gradient(
    circle,
    rgba(21, 38, 142, 1) 0%,
    rgba(21, 38, 142, 0.1) 100%
  );
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.char {
  --offset: calc(var(--char-index) * 1rem);
  offset-path: path('M 100,50 A 50,50 0 1,1 99.999,50');
  position: absolute;
  animation: move 10000ms infinite forwards linear;
  animation-delay: calc(var(--char-index) * -0.5s);
}
