@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010208;
    --backgroundShade: #050921;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.orb {
  background: rgb(21, 38, 142);
  background: radial-gradient(
    600px circle at 0px 0px,
    rgba(29, 78, 216, 0.15),
    transparent 80%
  )
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.char {
  --offset: calc(var(--char-index) * 1rem);
  --start: 0;
  --middle: 100;
  --end:0;
  offset-path: path('M50,0 A50,50 0 1,1 49.999,0');
  position: absolute;
  animation: move 10000ms infinite forwards linear;
  animation-delay: calc(var(--char-index) * -0.7s);
}
