@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010208;
    --backgroundShade: #050921;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
    45deg,
    var(--backgroundShade),
    var(--background)
  );
  font-family: Arial, Helvetica, sans-serif;
}

.orb {
  background: rgb(21,38,142);
  background: radial-gradient(circle, rgba(21,38,142,1) 0%, rgba(21,38,142,0.1) 100%);
}

.card { 
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.card-front {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card:hover {
  transform: translateY(-30%) scale(1.2) rotateY(180deg);
  z-index: 9;
}

.card:active {
  transform: translateY(-30%) scale(1.2) rotateY(0deg);
}